@{
    ViewData["Title"] = "Home Page";
}

<div id="about_page">
    <h1 class="display-4">About Me</h1>
    <div class="column" id="about_content">
        <h2>Background</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Luctus accumsan tortor posuere ac ut consequat. Pellentesque sit amet porttitor eget dolor morbi
            non arcu risus. Dictum non consectetur a erat nam at lectus. Magna fringilla urna porttitor rhoncus dolor purus.
            Non sodales neque sodales ut etiam sit amet nisl purus. In hac habitasse platea dictumst vestibulum. Egestas sed
            tempus urna et. Leo in vitae turpis massa. Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Enim
            sed faucibus turpis in eu mi bibendum. Pharetra et ultrices neque ornare aenean euismod. Cras pulvinar mattis nunc
            sed blandit. Adipiscing enim eu turpis egestas pretium aenean pharetra. Facilisis gravida neque convallis a cras.
            Tellus cras adipiscing enim eu turpis.
        </p>
        <h2>Education</h2>
        <p>
            Bibendum est ultricies integer quis auctor. Aliquam id diam maecenas ultricies mi eget mauris pharetra et.
            A diam sollicitudin tempor id eu nisl nunc. Pellentesque elit eget gravida cum sociis. Ipsum faucibus vitae
            aliquet nec ullamcorper. Facilisis volutpat est velit egestas dui. Amet luctus venenatis lectus magna
            fringilla urna porttitor rhoncus. Amet purus gravida quis blandit turpis cursus in hac. Ornare arcu dui
            vivamus arcu felis bibendum ut tristique et. Tellus elementum sagittis vitae et leo. A condimentum vitae
            sapien pellentesque habitant. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Nibh tellus
            molestie nunc non. Hac habitasse platea dictumst quisque sagittis purus sit amet. Nulla facilisi nullam
            vehicula ipsum. Elementum eu facilisis sed odio morbi quis commodo odio. Convallis a cras semper auctor
            neque vitae tempus.
        </p>
    </div>
    <div class="column" id="about_img">

    </div>
</div>
