@{
    ViewData["Title"] = "Home Page";
}

<div id="about_page">
    <h1 class="display-4">About Me</h1>
    <div class="column" id="about_content">
        <div class="about-box">
            <h2>Background</h2>
            <p>
                I'm originally from a small town in southern Michigan, but I have lived in Naples, Florida most of my life.
                I spent much of my time growing up around video games. This along with the rise of smart phones initially
                spurred my interest into the technology field. I had worked with my father initializing and installing
                security and access control systems for communities and private residences which gave me a deeper dive into
                working with tech devices. From there my interest in video games led me toward software development.
            </p>
            <h2>Education</h2>
            <p>
                I chose to stay local to southwest Florida to save money while in college. I was familiar with florida Gulf
                Coast University and so I went with it. From the beginning I was enrolled in the Software Engineering program.
                Initially, and for a majority of the program, everything was focused around how to develop code in different
                applications. There was a heavy emphasis on Java as that is what we primarily learned, although we were
                introduced to HTML, JS, CSS, C, and ASM depending on the instructor. Our senior year saw us get an introduction
                into unit and integration testing. Toward the final two years, the curriculum quickly shifted from programming
                to a more administrative outlook with developing documents for developers and being the liason between a
                business and a development team.
            </p>
            <h2>Hobbies</h2>
            <p>
                I have a drive for history and learning in general. I don't believe I will ever run out of topics to research
                in my spare time. Should I get burnt out on teaching myself past events or people I usually turn towards the
                culinary arts. Growing up I watched Food Network and experimented in the kitchen, reaching for cuisines from
                around the world such as Greek, Indian, and Japanese. One of my favorite places to be is behind a stove or a
                computer. I regularly spend my free time playing games on the computer while socializing with my friends who
                live away.
            </p>
        </div>
    </div>
    <div class="column" id="about_img">
        <img src="~/img/blank_avatar.png" id="avatar"/>
        <div class="about-box" id="contact_list">
            <p id="contact_title">Contact</p>
            <p>(239) 293-0583</p>
            <p>TEvans96@comcast.net</p>
            <p>
                <a href="https://www.linkedin.com/in/trevorevansswfl/">LinkedIn</a>
            </p>
            <p>
                <a href="https://github.com/TLoganEvans">Github</a>
            </p>
        </div>
    </div>
</div>
