@{
    ViewData["Title"] = "Home Page";
}

<div id="about_page">
    <h1 class="display-4">About Me</h1>
    <div class="column" id="about_content">
        <h2>Background</h2>
        <p id="aInfo">
            I'm originally from a small town in Michigan but I have lived in Naples, Florida most of my life. I spent 
            much of my time growing up around technology via video games and the rise of smart phones. This initially 
            spurred my interest in becoming a developer. Until college, I wasn't particularly aware of what I was going 
            to pursue professionally but I went with my gut to choose software engineering.
        </p>
        <h2>Education</h2>
        <p>
            Bibendum est ultricies integer quis auctor. Aliquam id diam maecenas ultricies mi eget mauris pharetra et.
            A diam sollicitudin tempor id eu nisl nunc. Pellentesque elit eget gravida cum sociis. Ipsum faucibus vitae
            aliquet nec ullamcorper. Facilisis volutpat est velit egestas dui. Amet luctus venenatis lectus magna
            fringilla urna porttitor rhoncus. Amet purus gravida quis blandit turpis cursus in hac. Ornare arcu dui
            vivamus arcu felis bibendum ut tristique et. Tellus elementum sagittis vitae et leo. A condimentum vitae
            sapien pellentesque habitant. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Nibh tellus
            molestie nunc non. Hac habitasse platea dictumst quisque sagittis purus sit amet. Nulla facilisi nullam
            vehicula ipsum. Elementum eu facilisis sed odio morbi quis commodo odio. Convallis a cras semper auctor
            neque vitae tempus.
        </p>
    </div>
    <div class="column" id="about_img">

    </div>
</div>
