@{
    ViewData["Title"] = "Portfolio";
}

<h1 class="display-4">Portfolio</h1>

<div class="flex-grid">
    <div class="col">
        <button class="port-box" data-toggle="modal" data-target="#EvansOnlineModal">
            <h2>EvansOnline</h2>
        </button>
    </div>
    <div class="col">
        <button class="port-box" data-toggle="modal" data-target="#DGSearchBotModal">
            <h2>DGSearchBot</h2>
        </button>
    </div>
    <div class="col">
        <button class="port-box" data-toggle="modal" data-target="#JPGuiProjectModal">
            <h2>JPGuiProject</h2>
        </button>
    </div>
    <div class="col">        
        <button class="port-box" data-toggle="modal" data-target="#BitmapProjectVS2017Modal">
            <h2>BitmapProjectVS2017</h2>
        </button>
    </div>
</div>

<!-- Modals -->
<div class="modal" id="EvansOnlineModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">EvansOnline Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body flex-grid">
                <div class="column">
                    Text
                </div>
                <div class="column">
                    Images
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DGSearchBotModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">DGSearchBot Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body flex-grid">
                <div class="column">
                    Text
                </div>
                <div class="column">
                    Images
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="JPGuiProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">JPGuiProject Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body flex-grid">
                <div class="column">
                    Text
                </div>
                <div class="column">
                    Images
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="BitmapProjectVS2017Modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">BitmapProjectVS2017 Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body flex-grid">
                <div class="column">
                    Text
                </div>
                <div class="column">
                    Images
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>