@{
    ViewData["Title"] = "Resume";
}

<h1 class="display-4">Resume</h1>

<!-- Resume PDF -->
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://drive.google.com/file/d/11t_VI4H6MJAVRNyXdn03BdpvXI1S9Cic/preview" width="640" height="480"></iframe>
</div>